In [1]:
# 패키지 import

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
# -' 깨짐 해결'
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
from scipy import stats
# 한글 깨짐 해결
plt.rc('font', family='Malgun Gothic')

In [5]:
# 데이터 불러오기
df = pd.read_excel("교육통계데이터_2019.xlsx")

In [6]:
df

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여
0,2015,서울,종로구,유치원,17,1238,625,613,0,513,256,257,0,0,0
1,2015,서울,종로구,초등학교,14,6084,3200,2884,0,979,502,477,72,39,33
2,2015,서울,종로구,중학교,9,3935,2082,1853,6,1114,599,515,69,39,30
3,2015,서울,종로구,고등학교,15,12653,6801,5852,8,4123,2224,1899,179,84,95
4,2015,서울,종로구,(일반고),7,6821,3334,3487,4,2090,1032,1058,96,49,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12760,2020,제주,소계,(일반고),22,15221,8126,7095,13,5042,2676,2366,168,68,100
12761,2020,제주,소계,(특목고),2,382,192,190,0,137,65,72,8,1,7
12762,2020,제주,소계,(특성화고),6,3076,1625,1451,4,986,513,473,61,24,37
12763,2020,제주,소계,특수학교,3,478,321,157,2,154,101,53,0,0,0
12764,2020,제주,소계,소계,314,85595,44494,41101,42,24317,12525,11792,513,236,277

In [7]:
# 2022년의 데이터만 추출, df2로 추출
df2 = df[df['연도'] == 2019]

In [8]:
df2 # 2022년도만 있는 데이터

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여
8493,2019,서울,종로구,유치원,17,1217,616,601,0,504,260,244,0,0,0
8494,2019,서울,종로구,초등학교,13,5463,2790,2673,1,946,480,466,86,49,37
8495,2019,서울,종로구,중학교,9,2854,1510,1344,6,931,490,441,49,25,24
8496,2019,서울,종로구,고등학교,14,9046,5186,3860,11,2894,1605,1289,173,77,96
8497,2019,서울,종로구,(일반고),6,3940,2152,1788,5,1230,623,607,65,26,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10625,2019,제주,소계,(일반고),22,16027,8516,7511,10,5366,2823,2543,178,78,100
10626,2019,제주,소계,(특목고),2,390,189,201,0,140,68,72,6,3,3
10627,2019,제주,소계,(특성화고),6,3290,1735,1555,5,1068,565,503,47,17,30
10628,2019,제주,소계,특수학교,3,449,296,153,0,139,87,52,0,0,0
10629,2019,제주,소계,소계,314,86304,45025,41279,36,24936,12908,12028,523,264,259

In [9]:
df2['시도'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [10]:
df2['행정구역'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '소계', '서구', '동구',
       '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구',
       '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '연수구', '미추홀구', '남동구',
       '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군', '세종시',
       '수원시', '성남시', '부천시', '안양시', '과천시', '안산시', '용인시', '군포시', '의왕시',
       '시흥시', '평택시', '화성시', '오산시', '광명시', '광주시', '하남시', '김포시', '이천시',
       '안성시', '여주시', '양평군', '고양시', '남양주시', '구리시', '의정부시', '파주시', '동두천시',
       '양주시', '포천시', '가평군', '연천군', '춘천시', '원주시', '강릉시', '동해시', '태백시',
       '속초시', '삼척시', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군',
       '양구군', '인제군', '고성군', '양양군', '청주시', '충주시', '제천시', '보은군', '옥천군',
       '영동군', '진천군', '괴산군', '음성군', '단양군', '증평군', '천안시', '공주시', '보령시',
       '아산시', '서산시', '논산시', '계룡시', '금산군', '부여군', '서천군', '청양군', '홍성군',
       '예산군', '태안군', '당진시', '전주시', '군산시', '익산시', '정읍시', '남원시', '김제시',
       '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '목포시',
       '여수시', '순천시', '나주시', '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군',
       '화순군', '장흥군', '강진군', '해남군', '영암군', '무안군', '함평군', '영광군', '장성군',
       '완도군', '진도군', '신안군', '포항시', '경주시', '김천시', '안동시', '구미시', '영주시',
       '영천시', '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군', '영덕군',
       '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군', '창원시',
       '진주시', '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '의령군', '함안군',
       '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군', '제주시', '서귀포시'],
      dtype=object)

In [11]:
df2['학제'].unique()

array(['유치원', '초등학교', '중학교', '고등학교', '  (일반고)', '  (특목고)', '  (특성화고)',
       '  (자율고)', '특수학교', '각종학교', '소계', '고등기술학교', '고등공민학교'], dtype=object)

In [12]:
# '학제' 값들의 이름에서 () 삭제
'  (일반고)'.replace('  (','').replace(')','')

'일반고'

In [13]:
# 전체 행에 적용할 함수 제작
def school_convert(x):
    try:
        return x.replace('  (','').replace(')','')
    except:
        return x

In [14]:
school_convert(df2['학제'].iloc[4])

'일반고'

In [15]:
df2['학제']=df2['학제'].apply(lambda x: school_convert(x))

C:\Users\leah5\AppData\Local\Temp\ipykernel_16812\2471371140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['학제']=df2['학제'].apply(lambda x: school_convert(x))

In [16]:
df2['학제'].unique()

array(['유치원', '초등학교', '중학교', '고등학교', '일반고', '특목고', '특성화고', '자율고', '특수학교',
       '각종학교', '소계', '고등기술학교', '고등공민학교'], dtype=object)

In [17]:
# '학제'에서 '고등학교' ,'일반고', '특목고', '특성화고' 만 빼고 삭제
df3 = df2[[i in ['고등학교' ,'일반고', '특목고', '특성화고']
          for i in df2['학제']]]

In [18]:
df3 # 연도 2022, 학제(고등학교,일반고,특목고,특성화고) 만 저장된 데이터

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여
8496,2019,서울,종로구,고등학교,14,9046,5186,3860,11,2894,1605,1289,173,77,96
8497,2019,서울,종로구,일반고,6,3940,2152,1788,5,1230,623,607,65,26,39
8498,2019,서울,종로구,특목고,3,1916,656,1260,2,648,220,428,43,10,33
8499,2019,서울,종로구,특성화고,3,1358,546,812,3,458,204,254,39,15,24
8507,2019,서울,중구,고등학교,11,7058,3883,3175,4,2367,1335,1032,113,54,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10618,2019,제주,서귀포시,특성화고,2,832,521,311,2,268,173,95,20,8,12
10624,2019,제주,소계,고등학교,30,19707,10440,9267,15,6574,3456,3118,231,98,133
10625,2019,제주,소계,일반고,22,16027,8516,7511,10,5366,2823,2543,178,78,100
10626,2019,제주,소계,특목고,2,390,189,201,0,140,68,72,6,3,3
10627,2019,제주,소계,특성화고,6,3290,1735,1555,5,1068,565,503,47,17,30

In [19]:
df3['학교수'].isna().sum()

0

In [20]:
df3['학업중단자_여']

8496      96
8497      39
8498      33
8499      24
8507      59
        ...
10618     12
10624    133
10625    100
10626      3
10627     30
Name: 학업중단자_여, Length: 815, dtype: int64

In [21]:
# 연도 칼럼 삭제
df3.drop(['연도'], axis=1,inplace=True)

C:\Users\leah5\AppData\Local\Temp\ipykernel_16812\3857872458.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['연도'], axis=1,inplace=True)

In [22]:
df3.columns

Index(['시도', '행정구역', '학제', '학교수', '학생수_전체', '학생수_남', '학생수_여', '교사수', '입학자_전체',
       '입학자_남', '입학자_여', '학업중단자_전체', '학업중단자_남', '학업중단자_여'],
      dtype='object')

In [23]:
# 인덱스 리셋
df3.reset_index(drop=True)

,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여
0,서울,종로구,고등학교,14,9046,5186,3860,11,2894,1605,1289,173,77,96
1,서울,종로구,일반고,6,3940,2152,1788,5,1230,623,607,65,26,39
2,서울,종로구,특목고,3,1916,656,1260,2,648,220,428,43,10,33
3,서울,종로구,특성화고,3,1358,546,812,3,458,204,254,39,15,24
4,서울,중구,고등학교,11,7058,3883,3175,4,2367,1335,1032,113,54,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,제주,서귀포시,특성화고,2,832,521,311,2,268,173,95,20,8,12
811,제주,소계,고등학교,30,19707,10440,9267,15,6574,3456,3118,231,98,133
812,제주,소계,일반고,22,16027,8516,7511,10,5366,2823,2543,178,78,100
813,제주,소계,특목고,2,390,189,201,0,140,68,72,6,3,3
814,제주,소계,특성화고,6,3290,1735,1555,5,1068,565,503,47,17,30

In [24]:
df3.to_excel("교육통계데이터_2019_최종.xlsx", index=None)